<template>
    <div>
        <div class="navbar-container bg-light">
            <nav class="navbar navbar-expand-lg navbar-light" data-sticky="top">
                <div class="container">
                    <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="/">License
<!--                        <img alt="Jumpstart" data-inject-svg src="assets/img/logos/jumpstart.svg">-->
                    </a>
                    <div class="d-flex align-items-center order-lg-3">
                        <a v-if="auth==='yes'" v-on:click="logout()"  href="#" class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">Logout</a>
                        <router-link v-else  to="/products" href="#" class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">Buy licence</router-link>
                        <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                            <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg src="assets/img/icons/interface/icon-menu.svg">
                            <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg src="assets/img/icons/interface/icon-x.svg">
                        </button>
                    </div>
                    <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
                        <ul class="navbar-nav my-3 my-lg-0">
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a  aria-expanded="false" aria-haspopup="true" class=" nav-link nav-item " data-toggle="dropdown-grid" href="/" role="button">Home</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <router-link to="/products" aria-expanded="false" aria-haspopup="true" class=" nav-link nav-item " data-toggle="dropdown-grid" href="#" role="button">Products</router-link>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <router-link to="/support" aria-expanded="false" aria-haspopup="true" class=" nav-link nav-item " data-toggle="dropdown-grid" href="#" role="button">Support</router-link>
                                </div>
                            </li>
                            <li class="nav-item" v-if="auth==='yes'">
                                <div class="dropdown">
                                    <router-link to="/home" aria-expanded="false" aria-haspopup="true" class=" nav-link nav-item " data-toggle="dropdown-grid" href="#" role="button">Dashboard</router-link>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>




        <router-view></router-view>
    </div>
</template>
<script>
import googleOneTap from 'google-one-tap';
export default {
    mounted() {
        if(this.auth!=='yes') {
            const options = {
                client_id: '30173417980-1mr78rb4ietprqboovvm5j9hg3265fj2', // required
                auto_select: true, // optional
                cancel_on_tap_outside: false, // optional
                context: 'signin', // optional
            };
            googleOneTap(options, (response) => {
                // Send response to server
                // console.log(response);
                this.parseJwt(response.credential)
            });
        }
    },
    data() {
        return {
            name:'',
            auth:'',
            pic:'',
            profile_info:{},
            message:{},
            proxyUrl: process.env.MIX_APP_URL,
        }
    },
    created(){
        this.name=localStorage.getItem('name');
        this.auth=localStorage.getItem('auth');
        this.pic=localStorage.getItem('pic');
    },
    watch:{
        '$route' (to, from) {
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
            this.pic=localStorage.getItem('pic');

        }
    },
    methods: {
        getAdsByrandomSearch(){
            this.$router.push({name: 'search',params:{id:this.message.search}});
            this.$router.go();
        },
        parseJwt (token) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            var jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));
            this.profile_info=JSON.parse(jsonPayload);
            this.attemptLogin();
            console.log(this.profile_info);
        },
        attemptLogin(){
            this.profile_info.pic=this.profile_info.picture
            let uri =this.proxyUrl+`api/auth/attemptLogin`;
            this.axios.post(uri, this.profile_info).then((response) => {
                if(response.data.status){
                    if(response.data.user.status==='ACTIVE') {
                        if (response.data.user.user_type === 'user') {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('pic', response.data.user.pic);
                            localStorage.setItem('auth', 'yes');
                        } else {

                        }
                    }else{

                    }
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {

            });

        },
        logout() {
            localStorage.removeItem('token');
            localStorage.removeItem('auth');
            this.$router.push({name: 'login'});

        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    }
}
</script>
