html,body {
    height: 100%;
    margin: 0;
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.img-top {
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
    width: 100%;
    /*opacity: 0.5;*/
    background-size: cover;
}
.content2 {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
}

.google-btn {
    width: 100%;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    /*font-size: 14px;*/
    letter-spacing: 0.2px;
    /*font-family: "Roboto";*/
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669F2;
}
.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
.cats{
    width: 200px;
}
.product{
    height: 450px;
}
.cat-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.buy-btn{
    position: absolute;
    bottom: 30px;
    width: 80%;
}
