<template>
    <div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center o-hidden">
        <section class="py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 mb-5 mb-md-0">
                        <div class="card card-body shadow">
                            <h1 class="h5 text-center">Forget password</h1>
                            <form v-on:submit.prevent="login()">
                                <div class="form-group">
                                    <input type="email" v-model="message.email" class="form-control" name="sign-up-email" placeholder="Email Address" required>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox text-small">
                                        <input type="checkbox" class="custom-control-input" id="sign-in-remember">
                                        <label class="custom-control-label" for="sign-in-remember">Remember me next time</label>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Reset password</button>
                            </form>
                        </div>
                        <div class="text-center text-small mt-3">
                            Don't have an account? <router-link to="/login" href="#">Sign in here</router-link>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
        }
    },
    created() {

    },
    methods: {

        login() {
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/forget`;
            this.axios.post(uri, this.message).then((response) => {
                $('.card').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.$router.push({name: 'login'});
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.card').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });

        },

    }
}
</script>
