<template>
    <div>
        <section class="bg-light o-hidden">
            <div class="container">
                <div class="row section-title justify-content-center text-center">
                    <div class="col-md-9 col-lg-8 col-xl-7">
                        <h5 class="display-4">Dashboard</h5>
                        <div class="lead">Welcome {{name}}</div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="nav nav-pills lead mb-4 mb-md-5 justify-content-center" id="myTab" role="tablist">
                                <li class="nav-item">

                                    <download-excel :data="invoices">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="landing-5.html#home" role="tab" aria-controls="home" aria-selected="true">
                                            Invoice and Products <i class="fa fa-download ml-2"></i></a>
                                    </download-excel>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="mt-5">

                                    <div class="pricing-table-section text-center text-lg-left ">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                <h5 class="mb-4">All licenses and invoice</h5>
                                            </div>
                                            <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Invoice</th>
                                                    <th>Price</th>
                                                    <th>Products</th>
                                                    <th>Product Name</th>
                                                    <th>Status</th>
                                                    <th>Disbursement</th>
                                                    <th>Payment</th>
                                                    <th>Ref</th>
                                                    <th>Date</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(data,index) in invoices">
                                                    <td>{{index+1}}</td>
                                                    <td>{{data.invoice_no}}</td>
                                                    <td>$.{{formatPrice(data.price)}}</td>
                                                    <td>{{data.count}}</td>
                                                    <td><router-link :to="{name:'invoice',params:{id:data.id}}">{{data.product_name}}</router-link></td>
                                                    <td v-if="data.status==='PENDING'" class="text-danger">{{data.status}}</td>
                                                    <td v-else class="text-success">{{data.status}}</td>
                                                    <td v-if="data.disbursement==='PENDING'" class="text-danger">{{data.disbursement}}</td>
                                                    <td v-else class="text-success">{{data.disbursement}}</td>
                                                    <td>{{data.payment_method}}</td>
                                                    <td>{{data.payment_id}}</td>
                                                    <td>{{data.updated_at}}</td>
                                                    <td v-if="data.status==='PENDING'"><a v-on:click="showConfirmModal(data.id,data.invoice_no)" href="#" class="text-danger" ><i class="fa fa-trash"></i></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                                </div>
                                        </div>

                                    </div>

</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="mpesa" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center border-0">
                        <div class="w-100 pt-4">
                            <h5 class="h3">Confirm</h5>
                            <div>Delete invoice</div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <img src="/assets/img/icons/interface/icon-x.svg" alt="">
              </span>
                        </button>
                    </div>
                    <div class="modal-body px-md-4 px-lg-5 pb-4 pb-lg-5">
                        <h5>Are you sure you want to delete invoice {{message.invoice_no}} ?</h5>

                            <button  class="btn btn-primary btn-block" type="button" v-on:click="deleteInvoice()">Delete</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {

    data() {
        return {
            name:'',
            proxyUrl: process.env.MIX_APP_URL,
            invoices:[],
            message:{invoice_id:'',invoice_no:''},
        }
    },
    created(){
        this.getMyProducts();
        this.name=localStorage.getItem('name');
    },
    methods: {
        showConfirmModal(id,invoice_no){
            this.message.invoice_id=id;
            this.message.invoice_no=invoice_no;
            $('#mpesa').modal('show');
        },
        deleteInvoice(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/deleteInvoice/${this.message.invoice_id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    $('#mpesa').modal('hide');
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.getMyProducts();
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getMyProducts(){
            let uri =this.proxyUrl+`api/auth/getMyProducts`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.invoices=response.data.invoices;
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    }
}
</script>
