<template>
    <div>
        <section class="bg-light o-hidden pt-5 pb-0">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 d-flex flex-column text-center text-lg-left mb-5 mb-lg-0" data-aos="fade-right">
                        <div class="pr-xl-5">
                            <h1 class="display-4">Buy software License and IT <mark data-aos="highlight-text" data-aos-delay="250">Support
                                </mark></h1>
                            <p class="lead">Reliable system for license sales automation and shipping of digital license
                            </p>
                            <div class="mt-4 mt-lg-5">

                                <div class="alert rounded-lg bg-secondary d-inline-flex align-items-center">
                                    <router-link to="/products" class="badge badge-pill badge-success">Buy licence</router-link>
                                    <router-link to="/login" class="badge badge-pill badge-succes ml-5">Sign in</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center" data-jarallax-element="-50">
                            <div class="col-10 col-sm-8 col-md-7 col-lg-9 col-xl-7" data-aos="zoom-in" data-aos-delay="250">
                                <img class="img-fluid" src="/assets/img/12.png" alt="Screenshot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-50 h-50 bottom right position-absolute" data-aos="zoom-in" data-aos-delay="500">
                <div class="blob h-100 w-100 bottom right bg-warning opacity-90"></div>
            </div>
<!--            <div class="divider divider-bottom bg-primary-3 mt-5"></div>-->
        </section>



        <section class="p-0 bg-primary">
<!--            <div class="col-lg-5 col-xl-6 d-flex align-items-center justify-content-center">-->
<!--&lt;!&ndash;                <a data-fancybox href="https://vimeo.com/166034462#t=32s" class="btn btn-lg btn-light rounded-circle position-absolute" data-aos="zoom-in" data-aos-delay="400">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <img src="assets/img/icons/interface/icon-media-play.svg" alt="Media Play Icon" class="icon icon-lg bg-dark pl-1" data-inject-svg>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--                <img src="/assets/img/bg.jpg" alt="Image" class="w-100 h-100" style="opacity: 0.5;">-->
<!--                <div class="divider divider-side bg-primary d-none d-lg-block"></div>-->
<!--            </div>-->
            <div class="col-lg-12">
                <section>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col col-md-12">
                                <div class="text-white text-center text-center">
                                    <h3 class="h1">Vendors we work with</h3>
                                    <p class="lead">
                                        Typically you will receive your license within 2 to 24 working hours.
                                    </p>
                                </div>
                                <div class="row justify-content-center  mt-2">
                                    <div class="  mb-2  bg-white   cats col-sm-3" v-for="data in cat"  >
                                        <img  :src="proxyUrl+'storage/Category/'+data.url" alt="img" class="cat-image">
                                        <div class="d-flex align-items-center">
<!--                                                <img src="/assets/img/bg.jpg" alt="no image" class="m-2 icon icon-xs bg-success" data-inject-svg>-->
<!--                                            <h6 class="mb-0 ml-3">{{data.name}}</h6>-->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>





        <section class="bg-light">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div v-for="data in products" class="col-sm-9 col-md-7 col-lg-4 mb-3 " data-aos="fade-up" data-aos-delay="100">
                        <div class="card card-body align-items-center shadow product">

                            <div class="text-center mb-4">
                                <img :src="proxyUrl+'storage/Product/'+data.url" class="img-top zoom" v-on:click="routeToBuy(data.uuid)">

                                <div>{{data.name}}</div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <span class="h5 mb-0 mr-2">$</span>
                                    <span class="display-5 mb-0 text-dark">{{formatPrice(data.price)}}</span>
                                </div>
                            </div>

                            <router-link :to="{name:'product',params:{id:data.uuid}}" href="#" class="btn   btn-outline-primary buy-btn">Buy</router-link>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    data() {
        return {
            proxyUrl: process.env.MIX_APP_URL,
            cat:[],
            products:[],
        }
    },
    created(){
        this.getFewProducts();
        this.getCategories();
    },

    methods: {
        routeToBuy(uuid){
            this.$router.push({name: 'product',params:{id:uuid}});
        },
        getFewProducts(){
            let uri =this.proxyUrl+`api/auth/getFewProducts`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.products=response.data.products;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getCategories(){
            let uri =this.proxyUrl+`api/auth/getCategories`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.cat=response.data.cat;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },


    }
}
</script>
