<template>
    <div>
        <section class="bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10">
                        <div class="card card-body shadow-lg">
                            <div class="d-flex justify-content-between align-items-start pb-4 pb-md-5 mb-4 mb-md-5 border-bottom">
                                <div>
                                    <h6>{{invoice.invoice_no}}</h6>
                                    <address>
                                        <p>{{user.name}}</p>
                                        <p>{{user.phone}}</p>
                                        <p>{{invoice.created_at}}</p>

                                    </address>
                                    <a href="#">{{user.email}}</a>
                                </div>
                                <img :src="proxyUrl+'storage/Product/'+product.url" alt="Jumpstart Logo" style="width: 20%;">
                            </div>
                            <div class="mb-4">
                                <h1 v-if="invoice.status==='PENDING'"> Invoice <span class="badge badge-warning">{{invoice.status}}</span></h1>
                                <h1 v-else> Invoice <span class="badge badge-success">{{invoice.status}}</span></h1>
                            </div>

                            <div>
                                <table class="table mb-0 text-right">
                                    <thead class="bg-light border-top">
                                    <tr>
                                        <th scope="col" class="border-0 text-left">
                                            Item
                                        </th>
                                        <th scope="col" class="border-0">
                                            Quantity
                                        </th>
                                        <th scope="col" class="border-0">
                                            Rate
                                        </th>
                                        <th scope="col" class="border-0">
                                            Total
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row" class="text-left">
                                            {{product.name}}
                                        </th>
                                        <td>
                                            {{invoice.count}}
                                        </td>
                                        <td>
                                            ${{formatPrice(product.price)}}
                                        </td>
                                        <td>
                                            ${{formatPrice(invoice.price)}}
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-end text-right mb-4 py-4 border-bottom">
                                    <div>
                                        <div>Amount due:</div>
                                        <div class="h4 mb-0 mt-2">USD ${{invoice.price}}</div>
                                    </div>
                                </div>
                                <div class="text-small">
                                    <div>Product will be received by:</div>
                                    <div class="text-danger"><strong>{{user.email}}</strong>
                                    </div>
                                    <div>
                                        <p><strong>NB:</strong>You can also make a payment by bank transfer. Please live chat an agent for assistance.</p>
                                    </div>
                                </div><hr>
                                <div class="row d-flex justify-content-center" v-if="invoice.status==='PENDING'">

                                    <router-link :to="{name:'card',params:{id:invoice.id}}"  class="paypal-button mr-3"><span class="paypal-button-title">Pay with Card/</span>
                                        <span class="paypal-logo"><i>Pay</i><i>Pal</i></span>
                                    </router-link>
                                        <a v-on:click="showMpesaModal()" href="#" id="mpesaBtn" class="mpesaButton"><img style="width: 35px; display: inline; margin: -8px;" src= "/assets/img/mpesa.png"><span style="margin-left: 15px;">Pay with Mpesa</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <div class="modal fade" id="mpesa" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center border-0">
                        <div class="w-100 pt-4">
                            <h5 class="h3">M-pesa payment</h5>
                            <div>Enter mpesa phone number to pay</div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <img src="/assets/img/icons/interface/icon-x.svg" alt="">
              </span>
                        </button>
                    </div>
                    <div class="modal-body px-md-4 px-lg-5 pb-4 pb-lg-5">
                        <form v-on:submit.prevent="initiateSTK()">
                            <div class="form-group">
                                <label>Amount to pay</label>
                                <input type="text" v-model="message.amount" class="form-control" name="sign-up-email" placeholder="Amount" required disabled>
                            </div>
                            <div class="form-group">
                                <label>M-pesa phone</label>
                                <vue-tel-input v-model="message.phone" class="form-control" v-bind="bindProps"></vue-tel-input>
                            </div>
                            <hr>
                            <div class="container mt-1" v-if="showAlert==='true'">
                                <div class="alert alert-info" role="alert">
                                    <h6 class="alert-heading text-center">Success! Enter M-pesa Pin</h6>
                                    <p class="text-center">Trying to detect payment. Please just wait.... <i class="fa  fa-2x fa-spinner fa-spin" aria-hidden="true"></i></p>
                                    <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                </div>
                            </div>
                            <div class="container mt-1" v-if="showAlert==='success'">
                                <div class="alert alert-success" role="alert">
                                    <h6 class="alert-heading text-center">{{message.mpesa_ref}} <i class="fa fa-check"></i></h6>
                                    <p class="text-center">Payment detected successfully.</p>
                                    <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                </div>
                            </div>
                            <div class="container mt-1" v-if="showAlert==='error'">
                                <div class="alert alert-danger" role="alert">
                                    <h6 class="alert-heading text-center">Cancelled <i class="fa fa-check"></i></h6>
                                    <p class="text-center">Unfortunately!User cancelled payment.</p>
                                    <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                </div>
                            </div>
                            <button  class="btn btn-primary btn-block" type="submit">Pay</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            bindProps: {
                mode: "international",
                disabledFetchingCountry: false,
                disabled: false,
                disabledFormatting: false,
                placeholder: "Enter a phone number",
                required: true,
                enabledCountryCode: true,
                enabledFlags: true,
                maxLen: 25,
                wrapperClasses: "",
                inputClasses: "",
                dropdownOptions: {
                    disabledDialCode: false
                },
                inputOptions: {
                    showDialCode: true
                }
            },
            proxyUrl: process.env.MIX_APP_URL,
            invoice:{},
            product:{},
            user:{},
            message:{amount:'0'},
            USDKES:'',
            showAlert:'false',
        }
    },
    created(){
        this.getInvoiceData();
        this.getCurrencyConversationRate();
    },

    methods: {
        showMpesaModal(){
            this.message.amount=Math.round(+this.USDKES * +this.invoice.price);
            $('#mpesa').modal('show');
        },
        initiateSTK(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/initiateSTK/${this.$route.params.id}`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.showAlert='true';
                    this.message.CheckoutRequestID=response.data.CheckoutRequestID;
                    this.message.MerchantRequestID=response.data.MerchantRequestID;
                    this.interval = setInterval(() => this.checkSTKStatus(), 5000);
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });
        },
        checkSTKStatus(){
            let uri =this.proxyUrl+`api/auth/checkSTKStatus`;
            this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                if(response.data.status){
                    if(response.data.callback){
                        this.message.mpesa_ref=response.data.mpesa_ref;
                        this.showAlert='success';
                        clearInterval(this.interval)
                        setTimeout(() => {   $("#mpesa").modal("hide"); }, 4000);
                        this.getInvoiceData();
                    }else{
                        this.showAlert='error';
                    }
                }
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getInvoiceData(){
            let uri =this.proxyUrl+`api/auth/getInvoiceData/${this.$route.params.id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.invoice=response.data.invoice;
                this.product=response.data.product;
                this.user=response.data.user;
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getCurrencyConversationRate(){
            let uri =this.proxyUrl+`api/auth/getCurrencyConversationRate`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                if(response.data.success){
                    this.USDKES=response.data.quotes.USDKES;
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },

        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },


    }
}
</script>
