<template>
    <div>
        <section class="bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7">
                        <div class="card card-body shadow-lg">
                            <div class="  pb-4 pb-md-5  mb-md-5 border-bottom">
                                <h4 class="text-center">Privacy and cookie statement of License Sourcing Shop</h4>
                            </div>
                            <div class="container">
                                <h5></h5>
                            </div>
                            <p>Through our web shop, privacy sensitive or personal data are processed. Detaline
                                Ventures values the privacy of its customers and observes due care in processing and
                                protecting personal data.</p>
                            <p>During the processing we conform to the requirements of the applicable data
                                protection legislation. This means we:</p>
                            <ul>
                                <li>clearly specify our purposes before we process personal data, by using this
                                    Privacy Statement;</li>
                                <li>limit our collection of personal data to only the personal data needed for
                                    legitimate purposes;</li>
                                <li>first ask for explicit permission to process your personal data in cases where your
                                    permission is required;</li>
                                <li>take appropriate security measures to protect your personal data and we
                                    demand the same from parties who process personal data on our behalf;</li>
                                <li>respect your right to inspect, correct or delete your personal data held by us.</li>
                            </ul>
                            <p>Detaline Ventures. is the party responsible for all data processing. In this privacy
                                statement, we will explain what kind of personal data we collect and for which
                                purposes within our web shop https://www.licensesourcing.com/. We recommend that
                                you read it carefully.</p>
                            <p>If you have any questions or you would like to know exactly what personal data we
                                collect from you, please contact Detaline Ventures.</p>
                            <h4 class="text-center">Handling your order</h4>
                            <p>We will use your personal data when handling your order. We may share your data with
                                the delivery service to have your order delivered. We may also obtain information on
                                your payment from your bank or credit card company.</p>
                            <p>For this purpose, we use your phone number, email address, invoice address and name
                                and address details. We do this on the basis of your consent. We store this information
                                for two years after your order has been completed. Certain types of personal data will
                                be retained for a longer period with regards to the legal tax retention.</p>
                            <h4 class="text-center">Providing to Third Parties</h4>
                            <p>We collaborate with other organizations, that may receive your personal data.</p>
                            <p>To handle your orders, we work together with:</p>
                            <ul>
                                <li>Our payment provider Paypal.</li>
                            </ul>
                            <h4 class="text-center">Registration</h4>
                            <p>Certain features of our service require you to register beforehand. You will have to
                                provide some information about yourself and choose a username and password for the
                                account that we will set up for you.</p>
                            <p>For this purpose, we use your name and address details, payment details, email address
                                and phone number. We do this on the basis of your consent. We store this information
                                for three months after you closed your account.</p>
                            <p>We will retain this data so that you do not have to re-enter it every time you visit our
                                website, and in order to contact you in connection with the execution of the
                                agreement. You can adjust your account information at any time.</p>
                            <h4 class="text-center">SECTION 1 – WHAT HAPPENS TO YOUR PRIVATE INFORMATION?</h4>
                            <p>When you purchase products from us your personal information i.e. name, address, etc. is solely used
                                to verify billing details and to ensure the validity of the credit card with your financial institution. All
                                personal information is entered into the website is encrypted and entered securely through SSL and we
                                do not disclose any information to any third party for any purpose whatsoever.</p>
                            <h4 class="text-center">SECTION 2 – CONSENT</h4>
                            <p>When providing your personal information it is only for the sole purpose of completing your
                                transaction.</p>
                            <h4 class="text-center">SECTION 3 – PAYMENT SECURITY</h4>
                            <p>If you choose a direct payment gateway to complete your purchase, then this is done via a secure
                                payment gateway encrypted with SSL. This can be verified by viewing the lock icon in the top left
                                corner of your browser and observing the HTTPS in the URL bar. This indicates a fully secure
                                encrypted website checkout. This securely encrypts sensitive credit card information in the customer’s
                                browser in order to complete the transaction via a secure payment gateway.</p>
                            <p>All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security
                                Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express, and
                                Discover. PCI-DSS requirements help ensure the secure handling of credit card information by our
                                store and its service providers.</p>
                            <h4 class="text-center">SECTION 4 – WEBSITE SECURITY</h4>
                            <p>To protect your personal information, we take strict precautions and follow industry best practices to
                                make sure it is not inappropriately lost, misused, accessed, disclosed, altered, or destroyed. All
                                information is encrypted using secure socket layer technology (SSL) and stored with AES-256-bit
                                encryption. This can be verified by viewing the lock icon in the top left corner of your browser and
                                observing the HTTPS in the URL bar. This indicates a fully secure encrypted website. We follow all
                                industry-standard PCI-DSS requirements.</p>
                            <h4 class="text-center">QUESTIONS AND CONTACT INFORMATION</h4>
                            <p>If you would like to: access, correct, amend or delete any personal information we have about you,
                                register a complaint, or simply want more information contact us anytime on live chat .</p>

                           </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>
