<template>
    <div>
        <div class="container">
            <div class="d-flex">
            <select class="form-control mr-3" v-model="message.category_id" v-on:change="getProductByCategory()">
                <option class="text-secondary" v-on:click="getProducts()" selected>All vendors products</option>
                <option v-for="data in cat" :key="data.id" v-bind:value="data.id" >{{data.name}}</option>
            </select>
            <input type="text" class="form-control" id="myInput" v-model="message.filterval"  v-on:keyup="filter()"  placeholder="Search for products..." >
                </div>
        </div>
        <section class="bg-light">
            <div class="container">
                <div class="row align-items-center justify-content-center loader">
                    <div v-for="data in pageOfItems" class="col-sm-9 col-md-7 col-lg-4 mb-3 " data-aos="fade-up" data-aos-delay="100">
                        <div class="card card-body align-items-center shadow product">
                            <div class="text-center mb-4">
                                <img :src="proxyUrl+'storage/Product/'+data.url" class="img-top zoom" v-on:click="routeToBuy(data.uuid)">
                                <div>{{data.name}}</div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <span class="h5 mb-0 mr-2">$</span>
                                    <span class="display-5 mb-0 text-dark">{{formatPrice(data.price)}}</span>
                                </div>
                            </div>
                            <router-link :to="{name:'product',params:{id:data.uuid}}" href="#" class="btn   btn-outline-primary buy-btn">Buy</router-link>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <jw-pagination :items="products" :pageSize="9" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    data() {
        return {
            proxyUrl: process.env.MIX_APP_URL,
            cat:[],
            products:[],
            products2:[],
            pageOfItems:[],
            message:{},
        }
    },
    created(){
        setTimeout(() => {
            this.getProducts();
        }, 1000);
        this.getCategories();
    },

    methods: {
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },
        routeToBuy(uuid){
            this.$router.push({name: 'product',params:{id:uuid}});
        },
        getProductByCategory(){
            $('.loader').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/getProductByCategory/${this.message.category_id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.loader').loader('hide');
                this.products=response.data.products;
                this.products2=response.data.products;
            }).catch(error => {
                $('.loader').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getProducts(){
            $('.loader').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/getProducts`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.loader').loader('hide');
                this.products=response.data.products;
                this.products2=response.data.products;
            }).catch(error => {
                $('.loader').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getCategories(){
            let uri =this.proxyUrl+`api/auth/getCategories`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.cat=response.data.cat;
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.products=this.products2;
            }else{
                let ads =  this.products2.filter(function(product) {
                    return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.price.toLowerCase().includes(filterval.toLowerCase())
                });
                this.products=ads;
            }
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },


    }
}
</script>
