<template>
    <div>
                <section class="o-hidden">
                    <div class="container">
                        <div class="row ">
                            <!--Card 1-->
                            <div class="col-sm-8">
                                <div class="card card-cascade wider shadow p-3 mb-5 ">
                                    <!--Card image-->
                                    <div class="view view-cascade overlay text-center">
                                        <img class="card-img-top zoom" :src="proxyUrl+'storage/Product/'+product.url" alt="product image unavailable"> <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a> </div>
                                    <!--Product Description-->
                                    <div class="desc">
                                        <p>{{product.description}}</p>
                                        <hr>
                                        <div class="mt-3 mb-3 text-center">
                                            Share product <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Reliable system for license sales.Buy  '+product.name+' here'" :url="'https://www.licensesourcing.com/product/'+product.uuid"  />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--Card 2-->
                            <div class="col-sm-4">
                                <div class="card card-cascade card-ecommerce wider shadow p-3 mb-5 ">
                                    <!--Card Body-->
                                    <div class="card-body card-body-cascade">
                                        <div class="icon-container text-center">
                                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                                        </div>
                                        <!--Card Description-->
                                        <div class="card2decs">
                                            <p class="heading1"><strong>{{product.name}}</strong></p>
                                            <p class="quantity">Qty <span class="float-right text1">{{productData.count}}</span></p>
                                            <p class="subtotal">Subtotal<span class="float-right text1">$ {{formatPrice(productData.price)}}</span></p>
                                            <p class="shipping">Shipping<span class="float-right text1">Free</span></p>
                                            <p class="promocode">Promo Code<span class="float-right text1">-NA</span></p>
                                            <p class="total"><strong>Total</strong><span class="float-right totalText1">$<span class="totalText2">{{formatPrice(productData.price)}}</span></span></p>
                                        </div>
                                        <div class="payment">
                                            <p class="heading2"><strong>Select quantity</strong></p>
                                            <div class="form-group">
                                                <select class="form-control" v-model="productData.count" v-on:change="calculatePrice()">
                                                    <option v-for="country in pages" :key="country" v-bind:value="country">{{country}} license(s)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Card footer--> <a href="#" class="purchaseLink" v-on:click="checkOut()" >
                                        <div class="card-footer text-center" > Buy Now &#8594; </div>
                                    </a>

                                    </div>
                                </div>
                            </div>
            </div>
                    </div>

                </section>



        <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center border-0">
                        <div class="w-100 pt-4">
                            <h5 class="h3">Sign In</h5>
                            <div>Enter your account details below</div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <img src="/assets/img/icons/interface/icon-x.svg" alt="">
              </span>
                        </button>
                    </div>
                    <div class="modal-body px-md-4 px-lg-5 pb-4 pb-lg-5">
                        <form v-on:submit.prevent="login()">
                            <div class="form-group">
                                <input type="email" v-model="message.email" class="form-control" name="sign-up-email" placeholder="Email Address" required>
                            </div>
                            <div class="form-group">
                                <input type="password" v-model="message.password" class="form-control" name="sign-up-password" placeholder="Password" required>
                                <div class="text-right text-small mt-2">
                                    <a  href="/forget">Forgot Password?</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox text-small">
                                    <input type="checkbox" class="custom-control-input" id="sign-in-remember">
                                    <label class="custom-control-label" for="sign-in-remember">Remember me next time</label>
                                </div>
                            </div>
                            <button  class="btn btn-primary btn-block" type="submit">Sign In</button>
                        </form>
                        <h6 class="hr text-center"><span>or</span></h6>
                        <div class="row">
                            <div class="col-sm-12 mb-1">
                                <div class="google-btn" @click.prevent="loginWithGoogle">
                                    <div class="google-icon-wrapper">
                                        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                    </div>
                                    <p class="btn-text"><b>Sign in with google</b></p>
                                </div>
                                <!--<a @click.prevent="loginWithGoogle" href="#" class="btn  fa fa-google btn-block">oogle</a>-->
                            </div>
                        </div>
                        <div class="text-center text-small mt-3">
                            Don't have an account? <a v-on:click="showRegisterModal()" href="#">Sign up here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center border-0">
                        <div class="w-100 pt-4">
                            <h5 class="h3">Sign Up</h5>
                            <div>No credit card required</div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <img src="/assets/img/icons/interface/icon-x.svg" alt="">
              </span>
                        </button>
                    </div>
                    <div class="modal-body px-md-4 px-lg-5 pb-4 pb-lg-5">
                        <form v-on:submit.prevent="register()">
                            <div class="form-group">
                                <input type="text" v-model="message.name" class="form-control" name="sign-up-email" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="email" v-model="message.email" class="form-control" name="sign-up-email" placeholder="Email Address" required>
                            </div>
                            <div class="form-group">
                                <vue-tel-input v-model="message.phone" class="form-control" v-bind="bindProps"></vue-tel-input>
                            </div>
                            <div class="form-group">
                                <input type="password" v-model="message.password" class="form-control" name="sign-up-password" placeholder="Password" required>
                                <small>Password must be at least 8 characters</small>
                            </div>
                            <div class="form-group">
                                <input type="password" v-model="message.repass" class="form-control" name="sign-up-password-confirm" placeholder="Confirm Password">
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox text-small">
                                    <input type="checkbox" class="custom-control-input" id="sign-up-agree">
                                    <label class="custom-control-label" for="sign-up-agree">I agree to the <a  href="/policy">Terms &amp; Conditions</a>
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Create Account</button>
                        </form>
                        <h6 class="hr text-center"><span>or</span></h6>
                        <div class="row">
                            <div class="col-sm-12 mb-1">
                                <div class="google-btn" @click.prevent="loginWithGoogle">
                                    <div class="google-icon-wrapper">
                                        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                    </div>
                                    <p class="btn-text"><b>Sign in with google</b></p>
                                </div>
                                <!--<a @click.prevent="loginWithGoogle" href="#" class="btn  fa fa-google btn-block">oogle</a>-->
                            </div>
                        </div>
                        <div class="text-center text-small mt-3">
                            Already have an account? <a v-on:click="showSignInModal()" href="#">Sign in here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            bindProps: {
                mode: "international",
                disabledFetchingCountry: false,
                disabled: false,
                disabledFormatting: false,
                placeholder: "Enter a phone number",
                required: true,
                enabledCountryCode: true,
                enabledFlags: true,
                maxLen: 25,
                wrapperClasses: "",
                inputClasses: "",
                dropdownOptions: {
                    disabledDialCode: false
                },
                inputOptions: {
                    showDialCode: true
                }
            },
            proxyUrl: process.env.MIX_APP_URL,
            product:{},
            message:{},
            productData:{product_id:'',price:'',count:'1'},
            pages:[],
        }
    },
    created() {
        this.getProductByUuid();
        this.loopPages();
    },
    methods: {
        loopPages(){
            var i;
            for (i = 1; i <= 200; i++) {
                this.pages=i;
            }
        },
        calculatePrice(){
            this.productData.price=+this.productData.count * +this.product.price;
        },
        checkOut(){
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            this.productData.product_id=this.product.id;
            let uri =this.proxyUrl+`api/auth/checkOut`;
            this.axios.post(uri,this.productData, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.card').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.$router.push({name: 'invoice',params:{id:response.data.invoice_id}});
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.card').loader('hide');
                if (error.response.status === 401) {
                   this.showSignInModal();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getProductByUuid(){
            let uri =this.proxyUrl+`api/auth/getProductByUuid/${this.$route.params.id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.product=response.data.product;
                this.productData.price=response.data.product.price;
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        showRegisterModal(){
            $('#sign-in-modal').modal('hide');
            $('#sign-up-modal').modal('show');
        },
        showSignInModal(){
            $('#sign-up-modal').modal('hide');
            $('#sign-in-modal').modal('show');
        },
        loginWithGoogle () {
            this.$gAuth.signIn().then(GoogleUser => {
                console.log(GoogleUser.getBasicProfile());
                this.message.name=GoogleUser.getBasicProfile().getName();
                this.message.email=GoogleUser.getBasicProfile().getEmail();
                this.message.pic=GoogleUser.getBasicProfile().getImageUrl();
                this.attemptLogin();
            }).catch(error => {
                    console.log(error)
                    this.$toast.open({message: 'Unable to login via g-mail!', type: 'error', position: 'top'});
                })
        },
        attemptLogin(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/attemptLogin`;
            this.axios.post(uri, this.message).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    if(response.data.user.status==='ACTIVE') {
                        if (response.data.user.user_type === 'user') {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('pic', response.data.user.pic);
                            localStorage.setItem('auth', 'yes');
                            this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                        } else {
                            this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                    }
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });

        },
        register() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/signup`;
            this.axios.post(uri, this.message).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    if(response.data.user.status==='ACTIVE') {
                        if (response.data.user.user_type === 'user') {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('pic', response.data.user.pic);
                            localStorage.setItem('auth', 'yes');
                            this.$toast.open({message: 'You are now logged in,please checkout gain', type: 'success', position: 'top'});
                            $('#sign-in-modal').modal('hide');
                            $('#sign-up-modal').modal('hide');
                        } else {
                            this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                    }
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });

        },
        login() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/login`;
            this.axios.post(uri, this.message).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    if(response.data.user.status==='ACTIVE') {
                        if (response.data.user.user_type === 'user') {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('pic', response.data.user.pic);
                            localStorage.setItem('auth', 'yes');
                            this.$toast.open({message: 'You are now logged in,please checkout again', type: 'success', position: 'top'});
                            $('#sign-in-modal').modal('hide');
                            $('#sign-up-modal').modal('hide');
                        } else {
                            this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                    }
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });

        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },

    }
}
</script>
