<template>
    <div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center o-hidden">
        <section class="py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 mb-5 mb-md-0">
                        <div class="card card-body shadow">
                            <h1 class="h5 text-center">Create Account</h1>
                            <form v-on:submit.prevent="register()">
                                <div class="form-group">
                                    <input type="text" v-model="message.name" class="form-control" name="sign-up-email" placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" v-model="message.email" class="form-control" name="sign-up-email" placeholder="Email Address" required>
                                </div>
                                <div class="form-group">
                                    <vue-tel-input v-model="message.phone" class="form-control" v-bind="bindProps"></vue-tel-input>
                                </div>
                                <div class="form-group">
                                    <input type="password" v-model="message.password" class="form-control" name="sign-up-password" placeholder="Password" required>
                                    <small>Password must be at least 8 characters</small>
                                </div>
                                <div class="form-group">
                                    <input type="password" v-model="message.repass" class="form-control" name="sign-up-password-confirm" placeholder="Confirm Password">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox text-small">
                                        <input type="checkbox" class="custom-control-input" id="sign-up-agree" required>
                                        <label class="custom-control-label" for="sign-up-agree">I agree to the <router-link to="/policy" href="#">Terms &amp; Conditions</router-link>
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Create Account</button>
                            </form>
                            <h6 class="hr text-center"><span>or</span></h6>
                            <div class="row">
                                <div class="col-sm-12 mb-1">
                                    <div class="google-btn" @click.prevent="loginWithGoogle">
                                        <div class="google-icon-wrapper">
                                            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                        </div>
                                        <p class="btn-text"><b>Sign in with google</b></p>
                                    </div>
                                    <!--<a @click.prevent="loginWithGoogle" href="#" class="btn  fa fa-google btn-block">oogle</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="text-center text-small mt-3">
                            Already have an account? <router-link to="/login" href="#">Sign in here</router-link>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            bindProps: {
                mode: "international",
                disabledFetchingCountry: false,
                disabled: false,
                disabledFormatting: false,
                placeholder: "Enter a phone number",
                required: true,
                enabledCountryCode: true,
                enabledFlags: true,
                maxLen: 25,
                wrapperClasses: "",
                inputClasses: "",
                dropdownOptions: {
                    disabledDialCode: false
                },
                inputOptions: {
                    showDialCode: true
                }
            },
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
            wallet:'',
        }
    },
    created() {

    },
    methods: {
        loginWithGoogle () {
            this.$gAuth.signIn().then(GoogleUser => {
                console.log(GoogleUser.getBasicProfile());
                this.message.name=GoogleUser.getBasicProfile().getName();
                this.message.email=GoogleUser.getBasicProfile().getEmail();
                this.message.pic=GoogleUser.getBasicProfile().getImageUrl();
                this.attemptLogin();
            })
                .catch(error => {
                    this.$toast.open({message: 'Unable to login via g-mail!', type: 'error', position: 'top'});
                })
        },
        attemptLogin(){
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/attemptLogin`;
            this.axios.post(uri, this.message).then((response) => {
                $('.card').loader('hide');
                if(response.data.status){
                    if(response.data.user.status==='ACTIVE') {
                        if (response.data.user.user_type === 'user') {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('pic', response.data.user.pic);
                            localStorage.setItem('phone', response.data.user.phone);
                            localStorage.setItem('auth', 'yes');
                            this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                            this.$router.push({name: 'home'});
                            // this.$router.go();
                        } else {
                            this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                    }
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.card').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });

        },
        register() {
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/signup`;
            this.axios.post(uri, this.message).then((response) => {
                $('.card').loader('hide');
                if(response.data.status){
                    if(response.data.user.status==='ACTIVE') {
                        if (response.data.user.user_type === 'user') {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('pic', response.data.user.pic);
                            localStorage.setItem('phone', response.data.user.phone);
                            localStorage.setItem('auth', 'yes');
                            this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                            this.$router.push({name: 'home'});
                            // this.$router.go();
                        } else {
                            this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                    }
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.card').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });

        },

    }
}
</script>
