<template>
    <div>
        <div class="bg-primary-3 text-white p-0" data-overlay>
            <img src="assets/img/heros/hero-1.jpg7" alt="" class="bg-image opacity-60">
            <section class="pb-0">
                <div class="container pb-5">
                    <div class="row justify-content-center text-center">
                        <div class="col-md-9 col-lg-8 col-xl-7">
                            <h1 class="display-3">We’re here to help</h1>
                            <p class="lead mb-0">If you have not received any codes or if they are defective, please contact the seller directly or use the complaint system to which we attach the code with the email address. Submissions submitted via the contact form will remain unanswered. .</p>

                        </div>
                    </div>
                </div>
                <div class="divider divider-bottom"></div>
            </section>
        </div>
        <section class="pb-0">
            <div class="container">
                <div class="row section-title justify-content-center text-center">
                    <div class="col-md-9 col-lg-8 col-xl-7">
                        <h3 class="display-4">Get in touch</h3>
<!--                        <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>-->
                    </div>
                </div>
                <div class="row justify-content-center container2">
                    <div class="col-md-10 col-lg-9 col-xl-8">
                        <form v-on:submit.prevent="submitContact()">
                            <div class="form-row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="contact-name">Your Name</label>
                                        <input type="text" name="contact-name" v-model="message.name" class="form-control" id="contact-name" required>
                                        <div class="invalid-feedback">
                                            Please type your name.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="contact-email">Email Address</label>
                                        <input type="email" v-model="message.email" name="contact-email" class="form-control" id="contact-email" placeholder="you@website.com" required>
                                        <div class="invalid-feedback">
                                            Please provide your email address.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="contact-company">Company (optional)</label>
                                        <input type="text" v-model="message.company" name="contact-company" class="form-control" id="contact-company">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="contact-phone">Phone (optional)</label>
                                        <input type="tel" v-model="message.phone" name="contact-phone" class="form-control" id="contact-phone">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact-message">Message</label>
                                <textarea id="contact-message" v-model="message.message" name="contact-message" rows="10" class="form-control" required></textarea>
                                <div class="invalid-feedback">
                                    Please tell us a little more.
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="d-none alert alert-success" role="alert" data-success-message>
                                        Thanks, a member of our team will be in touch shortly.
                                    </div>
                                    <div class="d-none alert alert-danger" role="alert" data-error-message>
                                        Please fill all fields correctly.
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-primary btn-loading" type="submit" data-loading-text="Sending">
                                            <!-- Icon for loading animation -->
                                            <span>Send Message</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-auto" data-aos="fade-up">
                        <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
                            <h5>Email us</h5>
                            <a href="#" class="lead">sales@licensesourcing.com</a>
                        </div>
                    </div>
<!--                    <div class="col-md-auto" data-aos="fade-up" data-aos-delay="100">-->
<!--                        <div class="px-md-4 px-lg-5 mb-5 mb-md-0">-->
<!--                            <h5>Drop in</h5>-->
<!--                            <address>-->
<!--                                <p>443 Park Avenue South,</p>-->
<!--                                <p>Kips Bay</p>-->
<!--                                <p>New York City</p>-->

<!--                            </address>-->
<!--                            <a href="#">Get Directions</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-auto" data-aos="fade-up" data-aos-delay="200">-->
<!--                        <div class="px-md-4 px-lg-5 mb-5 mb-md-0">-->
<!--                            <h5>Call any time</h5>-->
<!--                            <a href="#" class="lead">1800 488 328</a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </section>
        <div class="divider divider-bottom bg-primary-3"></div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
        }
    },
    created(){

    },

    methods: {

        submitContact(){
            $('.container2').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/submitContact`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.container2').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.message={};
                }

            }).catch(error => {
                $('.container2').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },


    }
}
</script>
